yiyingliService/src/config.dtd

<!ELEMENT service-configuration (cachePath,imagePath,httpPath,style+)>
<!ELEMENT cachePath EMPTY>
<!ATTLIST cachePath value CDATA #REQUIRED>
<!ELEMENT imagePath EMPTY>
<!ATTLIST imagePath value CDATA #REQUIRED>
<!ELEMENT httpPath EMPTY>
<!ATTLIST httpPath value CDATA #REQUIRED>
<!ELEMENT style (method+)>
<!ATTLIST style name CDATA #REQUIRED>
<!ELEMENT method EMPTY>
<!ATTLIST method name CDATA #REQUIRED>
<!ATTLIST method beanName CDATA #REQUIRED>
